h1{
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
body{
  background-color: black;
  text-align: center;

}

p{
  color: aquamarine;
  background-color: black;
  font-size: 16px;
}
h2{
  font-family: : Verdana;
  font-weight: 300;
  font-size: 42px;
}

h6{
  font-family: Verdana;
  font-size: 21px;
  color: grey;
  background-color: black;
}
.tent{
  height: 1023px;
  width: 675px;
}
.footer{
  text-align: right;
  color: grey;
}
